.list-unstyled li a
{
	text-decoration: none;
	color: #d6d6c2;
	transition: color 0.4s ease-in
	padding: 0.2rem;
}

.list-unstyled li a:hover
{
	color: #ffd633;
}

.list-inline li a
{
	text-decoration: none;
	color: #d6d6c2;
	transition: color 0.4s ease-in
	padding: 0.2rem;
}

.list-inline li a:hover
{
	color:  #ffd633;
}

.list li a
{
	text-decoration: none;
	color: white;
	transition: color 0.4s ease-in
	padding: 0.2rem;
}

.list li a:hover
{
	color: #ffd633;
}